.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


.fa-solid {
    margin-right: 10px;
}

body {
    background-color: #f8f9fa;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.form-check-label {
    margin-left: 15px;
}
.btn-success {
    background-color: #28a745; /* Vert */
    color: white;
    border: none;
}

.btn-danger {
    background-color: #dc3545; /* Rouge */
    color: white;
    border: none;
}
