{% extends 'mapping/base.html' %}

{% block content %}
    <div class="container-fluid d-flex flex-column bg-body-secondary flex-lg-row mt-5 mb-5 gap-4 h-auto"
         style="max-width: 1370px;  overflow-x: scroll; ">
        <div class="border-2 border-black col-12 col-lg-3 p-3">
            {# Partie concernant les infos sur le client #}
            <form class="form-group d-flex flex-column gap-3">
                <div class="form-control d-flex justify-content-center align-items-center"
                     style="height: 200px; width: 200px; border-radius: 50%;  margin-left: 20%; background: transparent">
                    {% load static %}
                    <img src="{{ details.img_client.url }}" alt="image indispensable" class="card-img img-fluid"
                         width="300px" style="height: 100%; width: 100%; border-radius: 50%; object-fit: cover;">
                </div>
                <input class="form-control mt-2" id="nom" type="text" readonly value={{ details.nom }}>
                <input class="form-control" type="text" id="prenom" readonly value={{ details.prenom }}>
                {% for adresses in details.adresse.all %}
                    <input class="form-control" readonly
                           value="{{ adresses.num_rue }}, {{ adresses.nom_rue }} {{ adresses.city }} {{ adresses.state }} {{ adresses.state }}">
                    <label class="form-label"><span class="text-body-emphasis"></span>
                        <input class="form-control mt-2" id="longitude" type="text"
                               value="{{ adresses.longitude }}" readonly>
                        <input class="form-control mt-3" id="latitude" type="text" value="{{ adresses.latitude }}"
                               readonly>
                    </label>
                {% endfor %}
                <div class=" card d-flex flex-row justify-content-center">
                    <button type="button" class=" btn btn-info " style="width: 100%"><a href="/client"
                                                                                        style="color: black;"
                                                                                        class="text-decoration-none">
                        liste</a></button>
                </div>
            </form>
        </div>
        <div class="carte col-12 col-lg-9   ">
            <div id="map"></div>
            <div>cette partie affichera des details de paiement status clients et autres</div>
        </div>
        <br/>
    </div>
{% endblock %}
