<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-group mt-3">
    <input type="text" id="validationCustom03" placeholder="City" name="city"
           class="form-control"
           required/>
    <div class="invalid-feedback">
        Please provide a valid city.
    </div>
</div>
<div class="form-group mt-3">
    <input type="text" id="validationCustom04" name="state" placeholder="State"
           class="form-control"
           required/>
    <div class="invalid-feedback">
        Please provide a valid state.
    </div>
</div>
<div class="form-group mt-3">
    <input type="text" id="validationDefault05" name="Zip" placeholder="Zip"
           class="form-control"
           required/>
</div>
</body>
</html>