{% extends 'paiement/base_liste_paiements.html' %}

{% block content %}
    <div class=" container card text-center mt-5">
        <h1>Listes des paiements</h1>
    </div>
    <div class="card container mt-3 mb-5 flex-1"
         style="background: #080126; box-shadow: 10px 10px 10px rgba(34,36,38,0.7)">
        <table class="container table mt-5">

            <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Montant</th>
                <th scope="col">Date paiement</th>
                <th scope="col">Marchandise</th>
                <th scope="col">Quantité</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for paiement in paiements %}
                <tr class="table-active">
                    <td>
                        <a href="/client/{{ paiement.client.id }}" class="btn btn-link text-decoration-none">
                            {{ paiement.client.nom }} {{ paiement.client.prenom }}
                        </a>
                    </td>
                    <td>{{ paiement.montant_total }} £ </td>
                    <td>{{ paiement.date_paiement }}  </td>
                    <td>
                        {% if paiement.marchandises %}
                        <ul>
                            {% for marchandise in paiement.marchandises %}
                              <li>{{ marchandise.nom }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Aucune marchandise</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if paiement.marchandises %}
                        <ul>
                            {% for marchandise in paiement.marchandises %}
                              <li>{{ marchandise.quantité }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>0</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if paiement.est_valide %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                    </td>
                    
                    <!-- button pour generer les recu sout different format -->
                    <td>
                     
                    <form action="{% url 'telecharger_recu' paiement.numero_paiement %}" method="post" onsubmit="return showNotification('XML')">
                        {% csrf_token %}
                        <input type="hidden" name="format" value="xml">
                        <button type="submit" class="btn btn-danger mt-2">Générer Reçu XML</button>
                    </form>
                    <form action="{% url 'telecharger_recu' paiement.numero_paiement %}" method="post" onsubmit="return showNotification('TXT')">
                        {% csrf_token %}
                        <input type="hidden" name="format" value="txt">
                        <button type="submit" class="btn btn-danger mt-2">Générer Reçu TXT</button>
                    </form>
                    <script>
                        function showNotification(format) {
                            alert('Le reçu ' + format + ' a été généré avec succès.');
                            return true;
                        }
                    </script>
                        <!-- Formulaire pour la suppression -->
                        <form action="/paiement/delete/{{ paiement.numero_paiement }}/" method="post"
                              style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="delete"><i
                                    class='fas fa-trash-alt'></i> Annuler le paiement
                            </button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7"><p style="text-align: center; color: black; font-size: 1.5rem; margin-top: 2rem;">
                        Aucun paiement n'été éffectué</p></td>
                </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
{% endblock %}