{% extends './base.html' %}
{% block content %}
    <h1 class="text-center">Choix de l'adresse</h1>
    <div class="container-fluid d-flex flex-column bg-body-secondary flex-lg-row mt-5 gap-4 h-auto"
         style="max-width: 1370px;  overflow-x: scroll;">
        <div class="border-2 border-black col-12 col-lg-3 p-3">
            {# Partie concernant les infos sur le client #}
            <form method="POST" enctype="multipart/form-data" class="form-group d-flex flex-column gap-3"  >
                  {% csrf_token %}
                <div class="form-control d-flex justify-content-center align-items-center"
                     style="height: 200px; width: 200px; border-radius: 50%; overflow: hidden; margin-left: 20%">
                    {% load static %}
                    <img src="{{ img.url }}" alt="image indispensable" class="img-fluid"
                         style="height: 100%; width: 100%; object-fit: cover; ">
                </div>
                <label>
                    Nom de la rue
                    <input class="form-control mt-2" type="text"  name="nom_rue">
                </label>
                <label>
                    Num de la rue
                    <input class="form-control mt-2" type="text"  name="num_rue">
                </label>
                <input type="hidden" id="full_address" name="full_address">
                <input type="hidden" id="nom" name="nom" value={{ nom.capitalize }}>
                <input type="hidden" id="prenom" name="prenom" value={{ prenom.islower }}>
                <input type="hidden" id="full_address" name="full_address">


                <input class="form-control mt-2" type="text" placeholder="city"  name="city">
                <input class="form-control" type="text" placeholder="state"  name="state">
                <textarea class="form-control" >Description</textarea>
{#                je prevois mettre une image si il y en a de la localisation d'une personne #}
{#                <input type="file" accept="/image/jpeg">#}

                <label class="form-label"><span class="text-body-emphasis">Modifier manuellement:</span>
                    <input class="form-control mt-2" type="text" placeholder="Longitude" name="longitude">
                    <input class="form-control mt-3" type="text" placeholder="Latitude" name="latitude">
                </label>
                <input type="hidden" name="id_client" value={{ id_client }}>
                <div class="d-flex flex-row justify-content-between">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    <button type="reset" class="btn btn-danger" name="reset">Annuler</button>
                </div>
            </form>
        </div>
        <div class="carte col-12 col-lg-9  ">
            <div id="map"></div>
        </div>
    </div>
    <script src="../static/JS/mapping.js"></script>
{% endblock %}
